<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Accord - ???</title>
		<link href="app/layout/css/bootstrap.min.css" rel="stylesheet">
		<link href="app/layout/css/style.css" rel="stylesheet">
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/app.config.js"></script>
		<script type="text/javascript" src="app/controllers.js"></script>
		<script type="text/javascript" src="app/components/home/HomeCtrl.js"></script>
		<script type="text/javascript" src="app/components/about/AboutCtrl.js"></script>
		<script type="text/javascript" src="app/components/contact/ContactCtrl.js"></script>
		<script type="text/javascript" src="app/components/gallery/GalleryCtrl.js"></script>
	</head>
	<body>
		<div class="main-body">
			<div class="container">
				<div class="row">

					<div class="main-page">
						<aside class="main-navigation">
							<div class="main-menu">

								<div class="menu-container">
									<div class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">
										<a ui-sref="home" class="block-keep-ratio__content  main-menu-link">
											<span class="main-menu-link-text">
												HOME
											</span>
										</a>
									</div>
								</div>

								<div class="menu-container">
									<div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">
										<a ui-sref="about" class="main-menu-link about block-keep-ratio__content flexbox-center">
											<i class="fa fa-user fa-4x main-menu-link-icon"></i>
											ABOUT
										</a>
									</div>

									<div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
										<a ui-sref="contact" class="main-menu-link contact block-keep-ratio__content flexbox-center">
											<i class="fa fa-envelope-o fa-4x main-menu-link-icon"></i>
											CONTACT
										</a>
									</div>
								</div>

								<div class="menu-container">
									<div class="block-keep-ratio block-keep-ratio-1-1 block-keep-ratio-md-2-1 block-width-full gallery">
										<a ui-sref="gallery" class="main-menu-link  block-keep-ratio__content">
											<span class="main-menu-link-text">
												GALLERY
											</span>
										</a>
									</div>
								</div>

								<!-- sidebar carousel -->
								<div class="menu-container">
									<div ng-controller="carouselCtrl">
									  <div style="height: 305px">
										<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
										  <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
											<img ng-src="{{slide.image}}" style="margin:auto;">
											<div class="carousel-caption menu-caption">
											  <h4>Slide {{slide.id}}</h4>
											  <p>{{slide.text}}</p>
											</div>
										  </uib-slide>
										</uib-carousel>
									  </div>
									</div>
								</div>
							</div> <!-- main-menu -->
						</aside> <!-- main-navigation -->

						<div ui-view class="content-main"></div>
					</div> <!-- .main-page -->
				</div> <!-- .row -->
				<footer class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
						<p class="copyright">Copyright © 2016 Company Name

						| Design: <a rel="nofollow" href="http://www.templatemo.com" target="_parent">template mo</a></p>
					</div>
				</footer>  <!-- .row -->

			</div> <!-- .container -->
		</div>  <!-- .main-body -->
	</body>
</html>