<!-- content-main -->
<div class="content-main gallery_main">

    <div ng-if="popup">
      <div class="mfp-bg mfp-ready"></div>
      <div class="mfp-wrap mfp-gallery mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow-x: hidden; overflow-y: auto;">
        <div class="mfp-container mfp-image-holder mfp-s-ready">

          <div class="mfp-content">
            <div class="mfp-figure">
              <button ng-click="show(false)" title="Close (Esc)" type="button" class="mfp-close">×</button>

              <figure>
                <img ng-click="myPopupClick('next')" ng-animate="'animate'" class="mfp-img" alt="Agra picture" src="app/layout/images/{{slide.image}}" style="max-height: 576px;" />
                <figcaption>
                  <div class="mfp-bottom-bar">
                    <div class="mfp-title"></div>
                    <div class="mfp-counter">{{slideNum}} of {{gallery.length}}</div>
                  </div>
                </figcaption>
              </figure>

            </div>
          </div>

          <div class="mfp-preloader">Loading...</div >

          <button ng-click="myPopupClick('previous')" title="Previous (Left arrow key)" type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close"></button>
          <button ng-click="myPopupClick('next')" title="Next (Right arrow key)" type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button>

        </div>
      </div>
    </div>

	<div class="gallery-main-inner">

		<div class="col-md-12 gallery_title_main">
			<div class="gallery_title">
				<h3>GALLERY</h3>
				<h4>RESPONSIVE DESIGN</h4>
			</div><br style="clear:both;"/>
		</div>

		<div id="content" class="gallery-images-container">
			<div class="box-gutter"></div>
			<div class="box-sizer"></div>
			<div ng-repeat="image in gallery">
				<div class="box">
					<a ng-click="popupScreen($event)" href="">
						<img id="{{image.id}}" alt="Agra picture" src="app/layout/images/{{image.thumbnail}}">
					</a>
				</div>
			</div>
<!--			<div class="box">
				<a href="app/layout/images/gallery-item-1-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-1.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-4-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-4.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-6-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-6.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-2-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-2.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-5-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-5.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-7-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-7.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-8-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-8.jpg"></a>
			</div>
			<div class="box">
				<a href="app/layout/images/gallery-item-3-big.jpg"><img alt="Agra picture" src="app/layout/images/gallery-item-3.jpg"></a>
			</div>-->
		</div>

		<div class="row text-center view_more_main">
		   <a href="#" class="btn view_more">view more</a>
		</div>
	</div>
</div>
