<!DOCTYPE html>
<html ng-app="calcApp">
<head>
	<title>Calculator</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style1.css">
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</head>

<body ng-controller="calcAppCtrl">
<div>
	<table align="center" id="sciout" cellpadding="0" cellspacing="2">
		<tbody>
			<tr> 
				<td colspan="2">
					<div>
						<div id="sciOutPut">{{model.curData}}</div>
					</div>
				</td>
			</tr>
            <tr ng-click="clickButton($event)">
				<td>
					<div style="padding-top:3px;width:100%">
						<div>
							<span onclick="r('sin')" class="scifunc">sin</span>
							<span onclick="r('cos')" class="scifunc">cos</span>
							<span onclick="r('tan')" class="scifunc">tan</span>
							<span class="scird">
								<label for="scirdsettingd"><input id="scirdsettingd" type="radio" name="scirdsetting" value="deg" onclick="degreeRadians='degree';" checked="">Deg</label>
								<label for="scirdsettingr"><input id="scirdsettingr" type="radio" name="scirdsetting" value="rad" onclick="degreeRadians='radians';">Rad</label>
							</span>
						</div>
						<div>
							<span onclick="r('asin')" class="scifunc">sin<sup>-1</sup></span>
							<span onclick="r('acos')" class="scifunc">cos<sup>-1</sup></span>
							<span onclick="r('atan')" class="scifunc">tan<sup>-1</sup></span>
							<span onclick="r('pi')" class="scifunc">π</span>
							<span onclick="r('e')" class="scifunc">e</span>
						</div>
						<div>
							<span onclick="r('pow')" class="scifunc">x<sup>y</sup></span>
							<span onclick="r('x3')" class="scifunc">x<sup>3</sup></span>
							<span onclick="r('x2')" class="scifunc">x<sup>2</sup></span>
							<span onclick="r('ex')" class="scifunc">e<sup>x</sup></span>
							<span onclick="r('10x')" class="scifunc">10<sup>x</sup></span>
						</div>
						<div>
							<span onclick="r('apow')" class="scifunc"><sup>y</sup>√x</span>
							<span onclick="r('3x')" class="scifunc"><sup>3</sup>√x</span>
							<span onclick="r('sqrt')" class="scifunc">√x</span>
							<span onclick="r('ln')" class="scifunc">ln</span>
							<span onclick="r('log')" class="scifunc">log</span>
						</div>
						<div>
							<span onclick="r('(')" class="scifunc">(</span>
                            <span onclick="r(')')" class="scifunc">)</span>
							<span onclick="r('1/x')" class="scifunc">1/x</span>
                            <span onclick="r('pc')" class="scifunc">%</span>
							<span onclick="r('n!')" class="scifunc">n!</span>
						</div>
					</div>
				</td>
				<td>
					<div style="padding-top:3px;">
						<div>
							<span class="scinm">7</span>
                            <span class="scinm">8</span>
							<span class="scinm">9</span>
                            <span class="sciop">+</span>
							<span onclick="r('MS')" class="sciop">MS</span>
						</div>
						<div>
							<span class="scinm">4</span>
                            <span class="scinm">5</span>
							<span class="scinm">6</span>
                            <span class="sciop">–</span>
							<span onclick="r('M+')" class="sciop">M+</span>
						</div>
						<div>
							<span class="scinm">1</span>
                            <span class="scinm">2</span>
							<span class="scinm">3</span>
                            <span class="sciop">×</span>
							<span onclick="r('M-')" class="sciop">M-</span>
						</div>
						<div>
							<span class="scinm">0</span>
							<span class="scinm">.</span>
							<span onclick="r('EXP')" class="sciop">EXP</span>
							<span class="sciop">÷</span>
							<span onclick="r('MR')" class="sciop">MR</span>
						</div>
						<div>
							<span class="sciop">±</span>
							<span onclick="r('RND')" class="sciop">RND</span>
							<span class="scieq">C</span>
							<span class="scieq">=</span>
							<span onclick="r('MC')" class="sciop">MC</span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
    <div style="text-align:right;font-size:10px;padding-right:60px;">
        <a href="http://www.calculator.net/scientific-calculator-for-your-site.html">put this calculator on your website</a>
    </div>
</div>
</body>