/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09.04.2016, 21:21:07
    Author     : Ghendel
*/

body, p, td, div, span{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    color:#333;
}
#sciout{
	padding:3px;
	border-top:1px solid #262626;
	border-left:1px solid #262626;
	border-right:2px outset #262626;
	border-bottom:2px outset #262626;
	background: #eeeeee;
}
#sciOutPut{
	font-size:16px;
	padding:2px 3px;
	margin:2px;
	cursor:text;
	text-align:right;
	background-color:#B8C6A3;
	border:1px solid #87996b;
	border-radius: 3px;
	color:#000;
}
.scifunc{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	width:38px;
	height:24px;
	padding: 1px 0px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#185290;
	background-color:#C8D8E8;
}
.scifunc:active {
	background-color:#013f7d;
	color:#ffffff;
}
.scinm{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 1px 0px;
	text-align:center;
	width:38px;
	height:24px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	background-color:#262626;
}
.scinm:active {
	background-color:#aaaaaa;
	color:#000000;
}
.sciop{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 1px 0px;
	text-align:center;
	width:38px;
	height:24px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#262626;
	background-color:#ccc;
}
.sciop:active {
	background-color:#000000;
	color:#ffffff;
}
.scird{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	height:24px;
	margin:0px;
	padding:0px;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	color:#262626;
}
.scieq{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 1px 0px;
	text-align:center;
	width:38px;
	height:24px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#F00;
	background-color:#DCADB0;
}
.scieq:active {
	background-color:#ff0000;
	color:#ffffff;
}
