/*
    Created on : 09.04.2016, 20:23:39
    Author     : Ghendel
*/

body, p, td, div, span{
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    color:#333;
}
body{
    background:#fff url(/img/ce.png) 0px -363px repeat-x;
    margin:0px;
    padding:0px;
}
p{
    margin:5px 0 8px 0;
}
img{
    border:0px;
}
h1{
    color:#930;
    font-size:17pt;
    font-weight:bold;
    padding:0;
    margin:5px 0 10px 0;
}
#resulth1{
    background-color:#ffefe7;
    padding:0px 5px 0px 5px;
    border-top:#930 1px dotted;
}
h2{
    font-size:14pt;
    font-weight:bold;
    color:#044284;
    padding:0;
    margin-bottom: 2px;
}
.h2red{
    font-size:14pt;
    font-weight:bold;
    color:#930;
    padding:0;
    margin-bottom: 2px;
}
h3{
    font-size:12pt;
   font-weight:bold;
}
h3 a{
    color:#930;
}
h3 a:hover{
    text-decoration:none;
}
hr{
    border:0;
    color:#aaa;
    background-color:#aaa;
    height:1px;
}
a{color:#069;
  text-decoration:underline;
}
a:hover{
    text-decoration:none;
}
#top{
    font-family:Helvetica,Arial;
    border-bottom:#aaa 1px solid;
}
#top h1, #top h1 a{
    color:#C00;
    font-size:12pt;
    margin:0;
    padding:5px 5px 5px 20px;
    text-decoration:none;
    text-transform:lowercase;
}

#contentout{float:right;width:760px;}
#content{padding:0px 0px 15px 0px;width:545px;float:left;}
#contentbig{padding:0px 0px 15px 0px;width:745px;float:right;}
#left{width:200px;float:left;}
#right{width:180px;float:right;}
#footer{font-size:11px;border-top:solid 1px #ccc;text-align:center;}
#menu{border:solid 1px #aaa;border-bottom:solid 1px #aaa;background-color: #e2eef4;border-right:solid 1px #aaa;padding: 5px 0;border-radius: 3px;box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);}
.mh{font-family:Helvetica,Arial;font-weight:bold;font-size:10pt;display: block;border-bottom:solid 2px #fff;}
.mh a{text-decoration:none;display: block;padding: 8px 0 5px 12px;background: url(/img/ce.png) no-repeat top left;background-color: #e2eef4;background-position:0px 11px;}
.mh a:hover{background-color: #ddd;}
.mhon{font-family:Helvetica,Arial;font-weight:bold;font-size:10pt;display: block;border-bottom:solid 2px #fff;}
.mhon a{text-decoration:none;display: block;padding: 8px 0 5px 15px;background: url(/img/ce.png) no-repeat top left;background-position:0px -35px;}
.mhon a:hover{background-color: #ddd;}
.mbout{padding-left: 10px;background-color: #fff;}

.mb{font-size:9pt;border-bottom:solid 2px #fff;background-color: #fff;}
.mb a{
    text-decoration:none;
    display: block;
    padding: 3px 0 3px 12;
    background: url(/img/ce.png) no-repeat top left;
    background-position:0px -87px;
}
.mb a:hover{
    background: url(/img/ce.png) no-repeat top left;
    background-color:#eee;
    background-position:0px -138px;
}

.mbon{font-size:9pt;
font-weight:bold;
padding: 3px 0 3px 12;
background: url(/img/ce.png) no-repeat 0px -138px;
border-bottom:solid 2px #fff;
background-color: #eee;
}

#sh{border:solid 1px #aaa;padding-top:10px;padding-bottom:10px;background-color:#eee;text-align:center;border-radius: 3px;box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);}
.hl{list-style-type: none;margin: 0 1px 0px 1px;padding: 5px 0 5px 8px;background-color: #fff;border-bottom:solid 1px #4fa4c3;}
.hl li{padding: 0 0 5px 0;}
.hl li a{text-decoration:none;}
.hl li a:hover{text-decoration:none;border-bottom:#006699 1px dotted;}
.smtb a{text-decoration:none;border-bottom:#006699 1px solid;}
.smtb a:hover{text-decoration:none;border-bottom:#ffffff 1px dotted;}
#hc{width:175px;background-color: #4fa4c3;}
.notebox{border:solid 1px #aaa;background-color:#eee;padding:10px;}
.notebox ul{list-style-type: none;margin: 0;padding: 0;}
.notebox ul li{padding: 5 0 0px 0;}
.smalltext{font-size:8pt;}
.bigtext{font-size:15px;}
.verybigtext{font-size:20px;}
table.cinfoT{color:#404040;background-color:#fafafa;border:1px #666 solid;border-collapse:collapse;border-spacing:0;margin-top:0;}
table.cinfoT td.cinfoHd{border-bottom:2px solid #666;background-color:#E0F0FE;font-weight:bold;color:#404040;padding:0 3px 0 3px;}
table.cinfoT td.cinfoHdL{border-bottom:2px solid #666;border-left:1px solid #666;background-color:#E0F0FE;font-weight:bold;color:#404040;padding:0 3px 0 3px;}
table.cinfoT td{border-bottom:1px dotted #666;color:#404040;padding:2px 3px;}
table.cinfoT tr:nth-child(odd) {
    background-color: #eee;
}
table.cinfoT tr:nth-child(even) {
    background-color: #fff;
}
.cinfoBodL{border-left:1px dotted #CEDCEA;}
#topmenu ul {color: #000;border-bottom: 1px solid #446EC0;margin: 12px 0px 0px 0px;padding: 0 0 5 0;padding-left: 8px;font-size: 13px;font-weight: bold;}
#topmenu ul li {display: inline;overflow: hidden;list-style-type: none;margin-left: 3px;}
#topmenu ul li a, #topmenu ul li a:visited {color: #fff;background: #446EC0;border: 1px solid #446EC0;padding: 5px 5px 5px 5px;margin: 0;text-decoration: none;border-top-left-radius: 3px;border-top-right-radius: 3px;}
#topmenu ul li a:hover {background: #eee;color: #000;}
#topmenu ul #menuon a {color: #000;background: #eee;border: 1px solid #446EC0;padding: 5px 5px 5px 5px;margin: 0;text-decoration: none;border-bottom: 2px solid #eee;border-top-left-radius: 3px;border-top-right-radius: 3px;}
#topmenu ul #menuon a:hover {background: #f5f8ec;}

#tabs2 {font-size: 12px;font-weight: bold;line-height:normal;margin-bottom:0px;overflow:hidden;}
#tabs2 ul {margin:0;padding:0px 0px 0 0px;list-style:none;}
#tabs2 li {display:inline;margin:0;padding:0;}
#tabs2 a {float:left;background:#fff url("/img/ce.png") 0px -273px no-repeat;margin:0;padding:0 0 0 6px;text-decoration:none;}
#tabs2 a b {float:left;display:block;background:#fff url("/img/ce.png") right -273px no-repeat;padding:6px 10px 4px 3px;margin-right:0px;color:#000;}
#tabs2 a b {float:none;}
#tabs2 a:hover b {}
#tabs2 a:hover {background-position:0% -315px;}
#tabs2 a:hover b {background-position:100% -315px;color:#fff;}
#tabs2 .on {background-position:0% -315px;}
#tabs2 .on b {background-position:100% -315px;color:#fff;}
#tabs2 .on a {float:left;background:#fff url("/img/ce.png") 0px -273px no-repeat;margin:0;padding:0 0 0 6px;text-decoration:none;background-position:0% -315px;}
fieldset{
	margin-top:10px;
	padding:0px 10px 5px 10px;
	border: solid 0px #bdd2da;
	border-radius: 3px;
	background:#eee;
	color: #eee;
}
legend{
	font-size:15px;
	font-weight: bold;
	border-radius: 3px;
	padding: 5px 15px;
	background:#eee;
	color: #000;
}
fieldset a{
	display: inline-block;
	white-space: nowrap;
	padding: 6px;
	font-size:14px;
	background:#044284;
	color: #fff;
	margin-bottom:5px;
	border-radius: 3px;
	text-decoration: none;
}
fieldset a:hover{
	background:#c47751;
	color: #fff;
}
.panel{
	background:#eee;
	border: solid 1px #ccc;
	padding: 5px;
	border-radius: 3px;
}
#calinfoout{background-color:#EEEEEE;width:258px;}
.calinfoinner{padding:5px;border-top:1px solid #262626;border-left:1px solid #262626;border-right:2px outset #262626;border-bottom:2px outset #262626;}
#calinfoout input{width:45px;height:30px;margin:2px;background-color:#FFF;font-family:arial,helvetica,sans-serif;font-size: 14px;border:1px solid #262626;}
#calinfoout #calInfoOutPut{width:242px;font-size:18px;padding:3px;cursor:text;text-align: right;background-color:#B8C6A3;color:#000000;}
#calinfoout .calinfonm{color:#FFF;font-weight:bold;background-color:#262626;}
#calinfoout .calinfoop{color:#262626;font-weight:bold;background-color:#cccccc;}
#calinfoout .calinfoeq{color:#FF0000;font-weight:bold;background-color:#DCADB0;}
#calinfoout .calinfofunc{color:#185290;font-weight:bold;background-color:#C8D8E8;height:23px;padding-bottom:1px;}
#printit{width: 80px;float:right;text-align:right;}
.panel2{background-color:#eeeeee;border-right:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;border-left:1px solid #bbbbbb;}
.h2result{background:#ffefe7;border:1px solid #c47751;padding: 3px;margin-top:3px;border-radius: 3px;}
.h3head{margin-bottom: 2px;}
.sectionlists{}
.sectionlists div{padding-bottom: 5px;}

#sciout{
	padding:5px;
	border-top:1px solid #262626;
	border-left:1px solid #262626;
	border-right:2px outset #262626;
	border-bottom:2px outset #262626;
	background: #eeeeee;
}
#sciOutPut{
	font-size:18px;
	padding:3px;
	margin:2px;
	cursor:text;
	text-align:right;
	background-color:#B8C6A3;
	border:1px solid #87996b;
	border-radius: 3px;
	color:#000;
}
.scifunc{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	width:50px;
	height:25px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#185290;
	background-color:#C8D8E8;
}
.scifunc:active {
	background-color:#013f7d;
	color:#ffffff;
}
.scinm{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	background-color:#262626;
}
.scinm:active {
	background-color:#aaaaaa;
	color:#000000;
}
.sciop{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#262626;
	background-color:#ccc;
}
.sciop:active {
	background-color:#000000;
	color:#ffffff;
}
.scird{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	height:30px;
	margin:1px;
	border:1px solid #eeeeee;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	color:#262626;
}
.scieq{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#F00;
	background-color:#DCADB0;
}
.scieq:active {
	background-color:#ff0000;
	color:#ffffff;
}



a.hhfin, a.hhfin:hover{
	background:#fff url(/img/hh.png) 0px 0 no-repeat;
	display:block;
	height:39px;
	width:175px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhwlo, a.hhwlo:hover{
	background:#fff url(/img/hh.png) 0px -40px no-repeat;
	display:block;
	height:39px;
	width:175px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhmat, a.hhmat:hover{
	background:#fff url(/img/hh.png) 0px -80px no-repeat;
	display:block;
	height:44px;
	width:175px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhpre, a.hhpre:hover{
	background:#fff url(/img/hh.png) 0px -125px no-repeat;
	display:block;
	height:39px;
	width:175px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhoth, a.hhoth:hover{
	background:#fff url(/img/hh.png) 0px -165px no-repeat;
	display:block;
	height:44px;
	width:175px;
	text-indent:-9999px;
	overflow:hidden;
}


a.bm, a.bm:hover{
	background: url(/img/ce.png) -7px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.dg, a.dg:hover{
	background: url(/img/ce.png) -29px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.ms, a.ms:hover{
	background: url(/img/ce.png) -50px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.fb, a.fb:hover{
	background: url(/img/ce.png) -72px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.dl, a.dl:hover{
	background: url(/img/ce.png) -94px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.gg, a.gg:hover{
	background: url(/img/ce.png) -116px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.tt, a.tt:hover{
	background: url(/img/ce.png) -138px -233px no-repeat;
	display:block;
	height:28px;
	width:22px;
}
a.su, a.su:hover{
	background: url(/img/ce.png) -160px -233px no-repeat;
	display:block;;
	height:28px;
	width:22px;
}


#right2{
	border-left:dotted 1px #ccc;
	padding-left: 5px;
	width:200px;
	float:right;
}

.mbtn a, .mbtn a:link, .mbtn a:visited{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}
.mbtn a:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.leftinput{
	width: 265px;
	float: left;
}
.rightresult{
	width: 265px;
	float: right;
}
#clear{margin-left: auto;margin-right: auto;clear: both;height: 1px;}
.leftchart{
	padding-top:10px;
	width: 370px;
	float: left;
}
.rightpie{
	padding-top:10px;
	width: 155px;
	float: right;
}


