<!DOCTYPE html>

<!--
        Home work #10-1 from 2016-02-26
    -------------------------------------------
    построить меню, которое будет выпадать по клику
    и отображать детей, если они есть
-->

<html>
    <head>
        <title>Горизонтальное меню с выпадающим подменю</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var menuItems = null;
                var content = null;

                var xhrContent = new XMLHttpRequest();
                xhrContent.open('GET', 'content-template.html', false);
                xhrContent.send();
                if (xhrContent.status != 200) {
                    alert(xhrContent.status + ': ' + xhrContent.statusText);
				} else {
					content = xhrContent.responseText;
//                    alert(xhrContent.responseText);
				}

				var xhrMenuItems = new XMLHttpRequest();
				xhrMenuItems.open('GET', 'menu-data.json', false);
				xhrMenuItems.send();
				if (xhrMenuItems.status != 200) {
					alert(xhrMenuItems.status + ': ' + xhrMenuItems.statusText);
				} else {
					menuItems = JSON.parse(xhrMenuItems.responseText);
                    console.log(menuItems);
//                    alert(menuItems);
				}
			
                var menuHolder = document.getElementById("menu");
				var contentHolder = document.getElementById("content");
				console.log(contentHolder);
				
				function menu(menuHolder, menuItems, contentHolder){
                    var ulElement = document.createElement("ul");

                    for (var i = 0; i < menuItems.length; i++) {
                        var liElement = document.createElement("li");
                        liElement.innerText = menuItems[i].menu;
                        
                        if(menuItems[i].childs) {
                            menu(liElement, menuItems[i].childs, contentHolder);
                        }

                        liElement.onclick = (function (menuItem) {
                            return function () {
                                document.title = menuItem.title;
                                contentHolder.innerHTML = content.replace("{{content}}", menuItem.content);
                            };
                        })(menuItems[i]);

                        ulElement.appendChild(liElement);
                    }

                    return  menuHolder.appendChild(ulElement);
                    
                }
                
                var menuUl = menu(menuHolder, menuItems, contentHolder);
                console.log(menuUl);
                menuHolder.firstElementChild.addEventListener("click", function(e) {
                    e.preventDefault();
                    menuUl.style.display = menuUl.style.display == "block" ? "none" : "block";
                });
				
			});
        </script>
        
        <style>
            li ul {
                display: none;
                
            }
        </style>
    </head>
    <body>
        <div>
            <p>Горизонтальное меню с выпадающим подменю</p>
        </div>

        <div id="menu">

        </div>
        
        <div id="content"></div>

    </body>
</html>
