<h2>Category</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
	{{#each categories}}
		{{~#if subcategories}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#{{key}}">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							{{text}}
						</a>
					</h4>
				</div>
				<div id="{{key}}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{{#each subcategories}}
							<li><a href="#">{{text}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		{{~^~}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a href="#">{{text}}</a></h4>
				</div>
			</div>
		{{~/if~}}
	{{/each}}
</div><!--/category-products-->