<h2>Category</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {{#each categories}}
    <div class="panel panel-default">
    {{#if subcategories}}
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#{{id}}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    {{title}}
                </a>
            </h4>
        </div>
        <div id="{{id}}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    {{#each subcategories}}
                    <li><a href="{{link}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{^}}
        <div class="panel-heading">
            <h4 class="panel-title"><a href="{{link}}">{{title}}</a></h4>
        </div>
    {{/if}}
    </div>
    {{/each}}
</div>