<h2 class="title text-center">Features Items</h2>
{{#each products}}
<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
				<div class="productinfo text-center">
					<img src="{{image}}" alt="" />
					<h2>$56</h2>
					<p>{{title}}</p>
					<a href="#{{id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
				</div>
				<div class="product-overlay">
					<div class="overlay-content">
						<h2>$56</h2>
						<p>{{title}}</p>
						<a href="#{{id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
				</div>
		</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#{{id}}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
				<li><a href="#{{id}}"><i class="fa fa-plus-square"></i>Add to compare</a></li>
			</ul>
		</div>
	</div>
</div>
{{/each}}
