<h2>Brands</h2>
<div class="brands-name">
	<ul class="nav nav-pills nav-stacked">
	{{#each brands}}
		<li><a href="#"> <span class="pull-right">({{count}})</span>{{text}}</a></li>
	{{/each}}
	</ul>
</div>
